.progress-bar-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 1rem 1rem;
}

.progress-bar {
    width: 100%;
    -webkit-appearance: none;
    background: #ddd;
    height: 5px;
    border-radius: 5px;
}

.progress-bar::-webkit-slider-thumb {
    -webkit-appearance: none;
    background: #007bff;
    height: 15px;
    width: 15px;
    border-radius: 50%;
}

.progress-time {
    margin-top: 5px;
}
