body {
    margin: 0;
    height: 100vh;
}

.wrapper{
    display: grid;
    grid-template-columns: 1fr 4fr;
}

.sidebar{
    height: 100vh;
    margin-top: 0;
}
.content{
    background-color: black;
}
